doctype html
html
    head
        script(src="https://kit.fontawesome.com/2b5809a42f.js", crossorigin="anonymous")
        title WeTube
    body
        include ../partials/header
        mian
            block content
        include ../partials/footer