doctype html
html
    head
        link(src="https://kit.fontawesome.com/2b5809a42f.js", crossorigin="anonymous")
        title WeTube
    body
        header
            h1 WeTube
        mian
            block content
        include ../partials/footer